MI_USER="Xiaomi Account"
MI_PASS="Account Password"
MI_DID="Device ID or Name (optional - fill in after retrieving from the device list)"
OPENAI_MODEL=gpt-4-turbo-1106
OPENAI_API_KEY=sk-xxxxxxxxxxxxxxx